.btn {
  cursor: not-allowed;
  max-width: 27.0625rem;
  height: 3.5625rem;
  border-radius: 1rem;
  font-size: 18px;
  border: none;
  font-size: 16px;
  font-weight: 800;
  background: #dadada;
  color: #88888f;
}

.btn-active {
  cursor: pointer;
  max-width: 27.0625rem;
  height: 3.5625rem;
  border-radius: 1rem;
  font-size: 18px;
  border: none;
  background: #6379f4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}

/* Personal information button style */
.btn-section {
  /* border: 1px solid darkblue; */
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.btn-section__edit,
.btn-section__save {
  font-size: 12px;
  padding: 0.2rem;
  border-radius: 4px;
  font-weight: 700;
  color: #77777794;
  cursor: no-drop;
}

.btn-section__edit-active,
.btn-section__save-active {
  font-size: 12px;
  padding: 0.2rem;
  border-radius: 4px;
  font-weight: 700;
  color: #6379f4;
  cursor: pointer;
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .btn {
    align-self: center;
    width: 27.0625rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .btn {
    align-self: center;
    max-width: 27.0625rem;
  }
}
