.main {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 80vh;
  background: #e5e5e5;
}

.main {
  padding: 2.2rem 8rem;
}

.right-side-content {
  /* border: 1px solid darkblue; */
  position: relative;
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #3a3d42;
}

.title h3 {
  font-weight: 700;
}

.description {
  /* border: 1px solid darkblue; */
  font-size: 12px;
  width: 15rem;
  color: #7a7886;
}

.form {
  align-self: center;
  width: fit-content;
}

.list {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.content-list {
  /* border: 1px solid darkblue; */
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__telp-content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 2px solid #88888f;
  max-width: 27.0625rem;
}

.form__telp-content-active {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 2px solid #6379f4;
  max-width: 27.0625rem;
}

.phone {
  border: none;
  width: 22rem;
  height: 2rem;
  outline: none;
  padding: 1rem 0.5rem;
}

.phone-icon {
  width: 18px;
  height: 18px;
}

.btn-manage {
  border: none;
  padding: 1rem 8rem;
  border-radius: 8px;
  /* color: #88888f; */
  font-weight: 800;
  cursor: pointer;
  background: #6379f4;
  color: #ffffff;
}
