.main {
  position: relative;
  /* border: 1px solid red; */
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.left-content,
.right-content {
  padding: 1rem 6rem;
}

/* || Content Image */

.left-content {
  position: relative;
  background: #6379f4;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-content::before {
  position: absolute;
  content: url(../assets/images/vector-3.png);
  left: 0;
}

.left-content_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  width: 17.4069rem;
  height: 33.5294rem;
}

.image-one {
  position: relative;
  transform: rotate(-8deg);
  left: 3.5rem;
}

.image-second {
  position: relative;
  transform: rotate(8deg);
  right: 4rem;
}

/* || Content Image */

/* .init-logo {
  border: 1px solid darkblue;
} */

/* .left-content__description {
  border: 1px solid darkblue;
} */

.right-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  min-width: 50vw;
  justify-content: center;
}

.right-content__description {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-content__description h3 {
  /* border: 1px solid darkblue; */
  max-width: 20rem;
}

.right-content__description p {
  border: 1px solid darkblue;
  color: #88888f;
  max-width: 25rem;
}

.form {
  border: 1px solid darkblue;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__password-content {
  border: 1px solid darkblue;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.form input[type="text"] {
  position: relative;
  outline: none;
  border: none;
  width: 25.0625rem;
  height: 1.6914rem;
  border-bottom: 2px solid #88888f;
  padding: 1rem 0;
  font-weight: 600;
}

/* .label-password, .label-password {
  border: 1px solid darkblue;
} */

.password {
  /* border: 1px solid darkblue; */
  position: relative;
}

.password-icon {
  width: 14px;
  height: 14px;
}

.btn-confirm {
  /* border: 1px solid darkcyan; */
  cursor: pointer;
  max-width: 27.0625rem;
  height: 3.5625rem;
  border-radius: 1rem;
  font-size: 18px;
  border: none;
  background: #dadada;
  font-size: 16px;
  font-weight: 800;
  color: #88888f;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  .right-content {
    align-items: center;
  }

  .left-content__description p,
  .right-content__description h3,
  .right-content__description p {
    text-align: justify;
  }

  .right-content__description h3,
  .right-content__description p {
    max-width: none;
  }

  .btn-confirm {
    align-self: center;
    width: 27.0625rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .left-content::before {
    left: 0;
  }

  .left-content__description p,
  .right-content__description h3,
  .right-content__description p {
    text-align: justify;
  }

  .right-content__description h3,
  .right-content__description p {
    max-width: none;
  }

  .form {
    gap: 2.5rem;
    align-items: center;
  }

  .btn-confirm {
    align-self: center;
    width: 27.0625rem;
  }
}

@media all and (max-width: 480px) {
  .left-content,
  .right-content {
    padding: 2.5rem 2.5rem;
  }

  .left-content::before {
    display: none;
  }

  .left-content__description p,
  .right-content__description h3,
  .right-content__description p {
    text-align: justify;
  }

  .content {
    flex-direction: column;
  }

  /* || Content Image */

  .left-content_image {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .image {
    /* border: 1px solid red; */
    max-width: 12.4069rem;
    max-height: 22.5294rem;
  }

  .image-one {
    /* border: 1px solid red; */
    position: relative;
    transform: rotate(-8deg);
    left: 3.5rem;
  }

  .image-second {
    /* border: 1px solid darkblue; */
    position: relative;
    transform: rotate(8deg);
    right: 4rem;
  }
  /* || Content Image */

  .form input[type="text"],
  .form input[type="password"] {
    max-width: none;
  }
}
