.main {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100vh;
  padding: 2.2rem 8rem;
  /* z-index: -1; */
}

.right-side-content {
  /* border: 1px solid darkblue; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 18px;
  background: linear-gradient(180deg, #4927f2 0%, #444ab1 100%);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
}

.balance__content_left {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  /* border: 1px solid darkblue; */
  font-size: 18px;
  color: #e0e0e0;
}

.fund {
  min-width: 10rem;
  font-weight: 700;
  font-size: 40px;
  color: var(--primary-font-color);
  background: transparent;
}

.phone-number {
  color: #dfdcdc;
  font-size: 14px;
}

/* Set phone number alert */
.spna {
  font-weight: 800;
  font-size: 14px;
  color: #dfdcdc;
}

.balance__content_right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.transfer-btn,
.top-up-btn {
  height: 2.5rem;
  width: 8rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  color: var(--primary-font-color);
  border-radius: 8px;
  cursor: pointer;
}

.transfer-btn,
.top-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.transfer-btn-icon,
.top-up-btn-icon {
  width: 28px;
  height: 28px;
}

.transfer-btn-init,
.top-up-btn-init {
  font-weight: 700;
  font-size: 16px;
}

.history__content_rigth {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
}

.transcation-history {
  width: 40%;
  padding: 1rem;
  background: #ffffff;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
}

.transcation-history__title {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 800;
}

.btn-see-all {
  /* border: 1px solid darkblue; */
  color: var(--primary-bg-color);
  font-size: 10px;
  font-weight: 800;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-list {
  list-style: none;
}

.sub-content-list {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.value-income {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  color: #1ec15f;
  width: 8rem;
  background: transparent;
}

.value-expense {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  color: #ff5b37;
  width: 8rem;
  background: transparent;
}

.identity {
  width: 8rem;
}

.image {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  object-fit: fill;
}

.name {
  font-weight: 800;
}

.success-status {
  font-size: 10px;
  color: #1ec15f;
}

.failed-status {
  font-size: 10px;
  color: #ff5b37;
}

.status-type {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.type {
  font-weight: 800;
  font-size: 10px;
  color: #7a7886;
}

.error-info {
  font-size: 16px;
  font-weight: 800;
  height: fit-content;
  margin: auto;
  color: #7a7886;
}

/* Dashboard side button */
.focus-style-side-dashboard-button {
  border-left: 4px solid #6379f4;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
}

.init-button-active {
  color: #6379f4;
  font-weight: 700;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    padding: 1rem 0.5rem;
    flex-direction: column;
    min-height: 100vh;
  }
  .history__content_rigth {
    flex-direction: column;
  }
  .history__content_rigth {
    flex-direction: column;
  }
  .transcation-history {
    width: auto;
  }
  .content-list {
    /* border: 1px solid darkblue; */
    margin: 1rem 0;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
  .history__content_rigth {
    flex-direction: column;
  }

  .transcation-history {
    width: auto;
  }
  .content-list {
    /* border: 1px solid darkblue; */
    margin: 1rem 0;
  }
}

@media all and (max-width: 480px) {
  .main {
    /* border: 1px solid darkblue; */
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }

  .history__content_rigth {
    flex-direction: column;
  }

  .transcation-history {
    width: auto;
  }

  .list {
    gap: 1rem;
  }
  .content-list {
    /* border: 1px solid darkblue; */
    margin: 1rem 0;
  }

  .fund {
    font-size: 24px;
    width: 100%;
  }

  /* Set phone number alert */
  .spna {
    font-weight: 800;
    font-size: 12px;
    color: #d80032;
  }

  .error-info {
    font-size: 12px;
  }
}
