.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 8rem;
  background: #6379f4;
  align-items: center;
}

.footer__section_one,
.footer__section_two {
  font-size: 14px;
  color: #efefef;
}

.footer__section_two {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 14px;
  align-items: center;
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  .footer {
    /* border: 1px solid darkblue; */
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer__section_one,
  .footer__section_two {
    font-size: 10px;
  }

  .footer__section_two {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  /* .footer__no-telp,
  .footer__email {
    border: 1px solid darkblue;
  } */
}
