.footer {
  /* border: 1px solid darkblue; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 8rem;
  background: #6379f4;
  /* width: 100vw; */
  bottom: 0;
}

.footer__section_one,
.footer__section_two {
  /* border: 1px solid darkblue;  */
  font-size: 14px;
  color: #efefef;
}

.footer__section_two {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  .footer {
    padding: 1rem 2rem;
  }
}
