.main {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100vh;
  background: #e5e5e5;
}

.main {
  padding: 2.2rem 8rem;
}

.right-side-content {
  position: relative;
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.head-content {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 800;
}

/* .select-filter {
  border: 1px solid darkgoldenrod;
} */

.menu-btn {
  /* border: 1px solid darkblue; */
  border: none;
  width: 8rem;
  height: 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 800;
  font-size: 12px;
}

.menu-item {
  width: 4rem !important;
  margin: 0.2rem;
  border: none;
  padding: 0.2rem;
  border-radius: 2px;
  font-weight: 800;
  cursor: pointer;
}

.active-menu-item {
  background: #e5e5e5 !important;
  width: 4rem !important;
  margin: 0.2rem;
  border: none;
  padding: 0.2rem;
  border-radius: 2px;
  font-weight: 800;
  cursor: pointer;
}

.bottom-content {
  display: flex;
  height: 28.1625rem;
}

.bottom-content-loader {
  height: 100%;
}

.error-info {
  font-size: 24px;
  font-weight: 700;
  height: fit-content;
  margin: auto;
  color: #7a7886;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
}

.content-list {
  list-style: none;
  cursor: pointer;
}

.sub-content-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.value-income {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  color: #1ec15f;
}

.value-expense {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  color: #ff5b37;
}

.identity {
  /* border: 1px solid darkblue; */
  width: 8rem;
}

.status-type {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.type {
  /* border: 1px solid darkblue; */
  font-weight: 800;
  font-size: 10px;
  color: #7a7886;
}

.image {
  /* border: 1px solid darkcyan; */
  width: 56px;
  height: 56px;
  border-radius: 2px;
  border-radius: 12px;
  object-fit: fill;
}

.name {
  /* border: 1px solid darkblue; */
  font-weight: 800;
}

.success-status {
  font-size: 12px;
  color: #1ec15f;
}

.failed-status {
  font-size: 12px;
  color: #ff5b37;
}

/* History side button */
.focus-style-side-history-button {
  border-left: 4px solid #6379f4;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
}

.init-button-active {
  color: #6379f4;
  font-weight: 700;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
}

@media all and (max-width: 480px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }

  .bottom-content,
  .bottom-content-loader {
    flex: 1;
  }

  .error-info {
    font-size: 16px;
  }

  .list {
    gap: 1.5rem;
  }
}
