.main {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100vh;
}

.main {
  padding: 2.2rem 8rem;
}

.right-side-content {
  position: relative;
  flex: 1;
  background: #ffffff;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #3a3d42;
}

.title h3 {
  font-weight: 700;
}

.description {
  font-size: 12px;
  width: 15rem;
  color: #7a7886;
}

.form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  min-width: 27.0625rem;
}

.pin-form {
  display: flex;
  flex-direction: row;
}

.check-pin-section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

/* Pin msg */
.pin-msg-section {
  display: flex;
  flex-direction: column;
}

.success-msg {
  align-self: center;
  color: #1ec15f;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background-color: #1ec15f0a;
  border-radius: 6px;
}

.failed-msg {
  align-self: center;
  color: #ff5b37;
  font-weight: 700;
  padding: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #ff5c3710;
}

/* Pin side button */
.focus-style-side-pin-button {
  border-left: 4px solid #6379f4;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
}

.init-button-active {
  color: #6379f4;
  font-weight: 700;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
}

@media all and (max-width: 480px) {
  .main {
    flex-direction: column;
    padding: 0;
    min-height: 100vh;
    padding: 1rem 0.5rem;
  }

  .form {
    min-width: 0;
    width: 100%;
  }
}
