.main {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100vh;
  padding: 2.2rem 8rem;
}

/* || Profile */
.profile-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
  border-radius: 25px;
  padding: 2rem 0;
  background: #ffffff;
}

.profile-side__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-height: 12.375rem;
}

.profile-side__edit-picture {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.profile-side-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: fill;
}

.input-file {
  position: relative;
}

.edit {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 1.5rem;
  cursor: pointer;
  z-index: 1;
  top: 0.4rem;
}

.profile-side__edit-picture input[type="file"] {
  position: relative;
  width: 5.6rem;
  visibility: hidden;
}

.profile-side__edit-picture input[type="file"]::after {
  visibility: visible;
  position: absolute;
  content: "Edit";
  right: 1rem;
  cursor: pointer;
  color: #7a7886;
  font-size: 16px;
}

.profile-side-indentity {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.profile-side-indentity h3 {
  color: #4d4b57;
  font-size: 24px;
  font-weight: 700;
}

.profile-side-indentity p {
  font-size: 16px;
  color: #7a7886;
}

.btn-content {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
}

.btn-content__list {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-content__list li {
  position: relative;
  list-style: none;
  padding: 1rem;
  width: 18rem;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;
  background: #e5e8ed;
  color: #4d4b57;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow-left {
  position: relative;
  top: 0.2rem;
  width: 14px;
  height: 14px;
}

/* Profile side button */
.focus-style-side-profile-button {
  border-left: 4px solid #6379f4;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
}

.init-button-active {
  color: #6379f4;
  font-weight: 700;
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
}

@media all and (max-width: 480px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
}
