.main {
  position: relative;
  /* border: 1px solid red; */
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.left-content,
.right-content {
  padding: 1rem 6rem;
}

/* || Content Image */

.left-content {
  position: relative;
  background: #6379f4;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-content::before {
  position: absolute;
  content: url(../assets/images/vector-3.png);
  left: 0;
}

.left-content_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  width: 17.4069rem;
  height: 33.5294rem;
}

.image-one {
  position: relative;
  transform: rotate(-8deg);
  left: 3.5rem;
}

.image-second {
  position: relative;
  transform: rotate(8deg);
  right: 4rem;
}

/* || Content Image */

/* .init-logo {
  border: 1px solid darkblue;
} */

/* .left-content__description {
  border: 1px solid darkblue;
} */

.right-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  min-width: 50vw;
}

.right-content__description {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-content__description h3 {
  /* border: 1px solid darkblue; */
  max-width: 20rem;
}

.right-content__description p {
  /* border: 1px solid darkblue; */
  color: #88888f;
  max-width: 25rem;
}

.form {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__firstname-content,
.form__lastname-content,
.form__email-content,
.form__password-content {
  /* border: 1px solid darkgreen; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 2px solid #88888f;
  max-width: 27.0625rem;
}

.form input[type="text"],
.form input[type="password"] {
  position: relative;
  outline: none;
  border: none;
  flex: 1;
  height: 1.6914rem;
  padding: 1rem 0;
  font-weight: 600;
}

.email {
  position: relative;
  /* border: 1px solid darkblue; */
}

.person-icon,
.email-icon,
.password-icon {
  width: 14px;
  height: 14px;
}
/* 
.password {
  border: 1px solid darkgreen;
} */

/* .link-to-login {
  border: 1px solid darkblue;
} */

.link-to-login p {
  text-align: center;
  font-size: 14px;
  max-width: 27.0625rem;
}

.link-to-login span {
  cursor: pointer;
  color: #6379f4;
  font-weight: 800;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .content {
    justify-content: space-between;
    background: #e5e5e5;
  }

  .right-content {
    flex: 0.5;
  }

  .left-content,
  .right-content {
    padding: 0.5rem 2.5rem;
  }

  .left-content {
    background: none;
    flex: 1;
    justify-content: center;
  }

  .init-logo {
    text-align: center;
    font-size: 32px;
    color: #6379f4;
  }

  /* || Non display left side content */
  .image,
  .left-content_image,
  .left-content__description {
    display: none;
  }

  .content {
    flex-direction: column;
    /* border: 1px solid darkblue; */
  }

  .left-content::before {
    display: none;
  }

  .right-content {
    background: #ffffff;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    align-items: center;
  }

  /* || Non display header and pragraph of right side content */
  .right-content__description h3,
  .right-content__description p {
    display: none;
  }

  .right-content__description-mobile {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .right-content__description-mobile h3 {
    font-size: 32px;
  }

  .right-content__description-mobile p {
    color: #a9a9a9;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .content {
    justify-content: space-between;
    background: #e5e5e5;
  }

  .right-content {
    flex: 0.5;
  }

  .left-content,
  .right-content {
    padding: 0.5rem 2.5rem;
  }

  .left-content {
    background: none;
    flex: 1;
    justify-content: center;
  }

  .init-logo {
    text-align: center;
    font-size: 32px;
    color: #6379f4;
  }

  /* || Non display left side content */
  .image,
  .left-content_image,
  .left-content__description {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .left-content::before {
    display: none;
  }

  .right-content {
    background: #ffffff;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
  }

  /* || Non display header and pragraph of right side content */
  .right-content__description h3,
  .right-content__description p {
    display: none;
  }

  .right-content__description-mobile {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .right-content__description-mobile h3 {
    font-size: 32px;
  }

  .right-content__description-mobile p {
    color: #a9a9a9;
  }
}

@media all and (max-width: 480px) {
  .content {
    justify-content: space-between;
    background: #e5e5e5;
  }

  .left-content,
  .right-content {
    padding: 0.5rem 2.5rem;
  }

  .left-content {
    background: none;
    flex: 1;
    justify-content: center;
  }

  .init-logo {
    text-align: center;
    font-size: 26px;
    color: #6379f4;
  }

  /* || Non display left side content */
  .image,
  .left-content_image,
  .left-content__description {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .left-content::before {
    display: none;
  }

  .right-content {
    background: #ffffff;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
  }

  /* || Non display header and pragraph of right side content */
  .right-content__description h3,
  .right-content__description p {
    display: none;
  }

  .right-content__description-mobile {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .right-content__description-mobile h3 {
    font-size: 24px;
  }

  .right-content__description-mobile p {
    color: #a9a9a9;
  }

  /* || Content Image */

  .left-content_image {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .image {
    /* border: 1px solid red; */
    max-width: 12.4069rem;
    max-height: 22.5294rem;
  }

  .image-one {
    /* border: 1px solid red; */
    position: relative;
    transform: rotate(-8deg);
    left: 3.5rem;
  }

  .image-second {
    /* border: 1px solid darkblue; */
    position: relative;
    transform: rotate(8deg);
    right: 4rem;
  }
  /* || Content Image */

  .form input[type="text"],
  .form input[type="password"] {
    /* border: 1px solid darkblue; */
    border: none;
  }

  .show-password {
    right: 0;
  }
  .form__email-content,
  .form__password-content {
    border-bottom: 2px solid #88888f;
  }
}
