.main {
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  min-width: 50vw;
  justify-content: center;
  padding: 1rem 6rem;
}

.right-content__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-content__description-mobile {
  display: none;
}

.right-content__description-mobile h3 {
  font-size: 24px;
  font-weight: bold;
}

.right-content__description h3 {
  font-weight: bold;
  max-width: 25rem;
  font-size: 24px;
}

.right-content__description p {
  /* border: 1px solid darkblue; */
  color: #88888f;
  max-width: 25rem;
}

.form {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__email-content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 2px solid #88888f;
  max-width: 27.0625rem;
}

.form__email-content-active {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 2px solid #6379f4;
  max-width: 27.0625rem;
}

.form input[type="text"] {
  position: relative;
  outline: none;
  border: none;
  flex: 1;
  height: 1.6914rem;
  padding: 1rem 0;
  font-weight: 600;
}

.error-msg-section {
  display: flex;
  justify-content: center;
  max-width: 27.0625rem;
}

.email {
  /* border: 1px solid darkblue; */
  position: relative;
}

.email-active {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 2px solid #6379f4;
  max-width: 27.0625rem;
}

.email-icon {
  width: 14px;
  height: 14px;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .content {
    justify-content: space-between;
    background: #e5e5e5;
  }

  .right-content {
    flex: 0.5;
  }

  .right-content {
    padding: 0.5rem 2.5rem;
  }

  .init-logo {
    text-align: center;
    font-size: 32px;
    color: #6379f4;
  }

  .content {
    flex-direction: column;
    border: 1px solid darkblue;
  }

  .right-content {
    background: #ffffff;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    align-items: center;
    flex: 1;
  }

  /* || Non display header and pragraph of right side content */
  .right-content__description h3,
  .right-content__description p {
    display: none;
  }

  .right-content__description-mobile {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .right-content__description-mobile h3 {
    font-size: 32px;
  }

  .right-content__description-mobile p {
    color: #a9a9a9;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .content {
    justify-content: space-between;
    background: #e5e5e5;
  }

  .right-content {
    flex: 0.5;
  }

  .right-content {
    padding: 0.5rem 2.5rem;
  }

  .content {
    flex-direction: column;
  }

  .right-content {
    background: #ffffff;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
  }

  /* || Non display header and pragraph of right side content */
  .right-content__description h3,
  .right-content__description p {
    display: none;
  }

  .right-content__description-mobile {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .right-content__description-mobile h3 {
    font-size: 32px;
  }

  .right-content__description-mobile p {
    color: #a9a9a9;
  }
}

@media all and (max-width: 480px) {
  .content {
    justify-content: space-between;
    background: #e5e5e5;
  }

  .right-content {
    padding: 0.5rem 2.5rem;
  }

  .content {
    flex-direction: column;
  }

  .left-content::before {
    display: none;
  }

  .right-content {
    background: #ffffff;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    flex: 1;
  }

  /* || Non display header and pragraph of right side content */
  .right-content__description h3,
  .right-content__description p {
    display: none;
  }

  .right-content__description-mobile {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .right-content__description-mobile h3 {
    font-size: 24px;
  }

  .right-content__description-mobile p {
    color: #a9a9a9;
  }

  .form input[type="text"],
  .form input[type="password"] {
    /* border: 1px solid darkblue; */
    border: none;
  }

  .show-password {
    right: 0;
  }
  .form__email-content {
    border-bottom: 2px solid #88888f;
  }
}
