.side-bar {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 12.875rem;
  padding: 1rem 0;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
}

.content__one {
  /* border: 1px solid darkblue; */
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-list {
  /* border: 1px solid darkblue; */
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
}

.btn-icon {
  width: 14px;
  height: 14px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .side-bar {
    flex-direction: row;
    width: auto;
  }
  .side-bar__content li {
    list-style: none;
  }

  .content__one {
    flex-direction: row;
  }

  .side-bar__content li p {
    display: none;
  }
  .content__two {
    margin-left: auto;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .side-bar {
    flex-direction: row;
    width: auto;
  }
  .side-bar__content li {
    list-style: none;
  }

  .content__one {
    flex-direction: row;
  }

  .side-bar__content li p {
    display: none;
  }
  .content__two {
    margin-left: auto;
  }
}

@media all and (max-width: 480px) {
  .side-bar {
    flex-direction: row;
    width: auto;
  }

  .side-bar__content li {
    list-style: none;
  }

  .content__one {
    flex-direction: row;
  }

  .side-bar__content li p {
    display: none;
  }

  .content__two {
    margin-left: auto;
  }
}
