.main {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 100vh;
}

.main {
  padding: 2.2rem 8rem;
}

.right-side-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.top-up {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
  border-radius: 25px;
  background: #ffffff;
  max-width: 31.1625rem;
  margin: auto;
  /* border:2px solid darkblue */
}

.close-btn {
  /* border: 1px solid darkred; */
  display: flex;
  justify-content: flex-end;
}

.min-amount-sec {
  display: flex;
  margin-top: 1rem;
}
.min-amount {
  font-size: 14px;
  font-weight: 800;
  color: #fe5c38;
  margin: 0 auto;
}

.top-up__title {
  /* border: 1px solid darkblue; */
  font-weight: 800;
}

.description {
  /* border: 1px solid darkgreen; */
  color: #3a3d4299;
}

.form {
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: fit-content;
}

/* .top-up__input p {
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  color: #fe5c38;
  margin: 1rem auto;
  border: 1px solid greenyellow;
} */

.input-number {
  border: none;
  outline: none;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
  height: 3rem;
  font-size: 18px;
  padding: 0 1rem;
  width: 433px;
}

.input-number-active {
  border: none;
  outline: none;
  border: 2px solid #6379f4;
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
  height: 3rem;
  font-size: 18px;
  padding: 0 1rem;
  width: 433px;
}

.input-number-failed {
  border: none;
  outline: none;
  border: 2px solid #fe5c38;
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
  height: 3rem;
  font-size: 18px;
  padding: 0 1rem;
  width: 433px;
  color: #fe5c38;
}

/* Topup side button */
.focus-style-side-topup-button {
  border-left: 4px solid #6379f4;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
}

.init-button-active {
  color: #6379f4;
  font-weight: 700;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
  .right-side-content {
    padding: 0;
    justify-content: center;
  }

  .top-up {
    align-self: center;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
  .right-side-content {
    padding: 0;
  }

  .top-up {
    align-self: center;
    justify-content: center;
  }
}

@media all and (max-width: 480px) {
  .main {
    flex-direction: column;
    padding: 1rem 0.5rem;
    min-height: 100vh;
  }
  .right-side-content {
    padding: 0;
  }

  .top-up {
    align-self: center;
  }

  .form,
  .top-up,
  .input-number,
  .input-number-active,
  .input-number-failed {
    width: 100%;
  }
}
