.main {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-height: 80vh;
}

.main {
  padding: 2.2rem 8rem;
}

.right-side-content {
  /* border: 1px solid darkblue; */
  position: relative;
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/* .right-side-content__title {
  border: 1px solid darkblue;
} */

.title {
  font-weight: 800;
}

/* .search-input {
  border: 1px solid darkblue;
} */

.input-receiver {
  /* border: 1px solid darkgoldenrod; */
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  background: var(--bg-input-color);
  font-weight: 800;
  padding-left: 1.8rem;
  outline: none;
  border: none;
}

.search-icon {
  position: relative;
  top: 0.8rem;
  left: 0.4rem;
  color: #88888f !important;
  width: 14px !important;
  height: 14px !important;
}

/* .bottom-content {
  border: 1px solid darkblue;
} */

.list {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link-input {
  text-decoration: none;
  color: #4D4B57;
}

.content-list {
  list-style: none;
  padding: 1rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
}

.sub-content-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.identity {
  /* border: 1px solid darkblue; */
  width: 8rem;
}

.image {
  /* border: 1px solid darkcyan; */
  width: 32px;
  height: 32px;
  border-radius: 2px;
}

.name {
  /* border: 1px solid darkblue; */
  font-weight: 800;
}

.contact {
  /* border: 1px solid darkblue; */
  font-size: 14px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
